html(lang="es")
head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	
	//
		//////////////////////////////////////////////////////
		Kalollero Marro.on ~ 
		Diseño y Desarrollo by kalollero Marro.on 
		Website:    http://.com
		Email:      @.com
		Facebook:   https://www.facebook.com/
		//////////////////////////////////////////////////////

	title Kalollero Marro.on | Magc Town

	//Normalize 
	link(rel="stylesheet" href="css/normalize.css")
	link(rel="stylesheet" href="css/estilos-puebloMagico.css")

	//Estilos Hoja
	style(type='text/css').
body
	div.menuNvegacion
		
	div.portada

	div.cuerpo
			
	div.pie


	script(type="text/javascript").